*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.complete
{
    position: absolute;
    top:15%;
    left:40%;
    transform: translate(-50%, -50%);

}
.text-box
{
    padding:10px;
    border-radius: 10px;
    width:170%;
}